{% extends "base.html" %}
{% load i18n %}

{% block page_title %}{% trans "Dummy things!" %}{% endblock page_title %}

{% block body_id %}id_thing_delete{% endblock body_id %}
{% block data_controller %}thing:thing_delete{% endblock data_controller %}

{% block content %}
<form action="" method="post">{% csrf_token %}
    <p>Are you sure you want to delete "{{ object }}"?</p>
    <input type="submit" value="Confirm" class="btn btn-danger"/>
</form>
{% endblock content %}
