{% extends "base.html" %}
{% load i18n %}

{% block page_title %}{% trans "Dummy things!" %}{% endblock page_title %}

{% block body_id %}id_thing_detail{% endblock body_id %}
{% block data_controller %}thing:thing_detail{% endblock data_controller %}

{% block content %}
<p>Name: {{ thing.name }}</p>
<p>Coolness: {{ thing.coolness }}</p>
<p>Description: {{ thing.description }}</p>
<a href="{% url 'thing:thing_update' thing.pk %}"
    class="btn btn-secondary btn-md active">Update</a>
{% endblock content %}
