{% extends "base.html" %}
{% load i18n %}

{% block page_title %}{% trans "Dummy things!" %}{% endblock page_title %}

{% block body_id %}id_thing_list{% endblock body_id %}
{% block data_controller %}thing:thing_list{% endblock data_controller %}

{% block content %}

{% if messages %}
<ul class="messages" style='margin: 1%'>
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

<a href="{% url 'thing:thing_create' %}"
    class="btn btn-secondary btn-md active"
    style="margin: 1%">Create</a>
<table class="table">
  <thead class="thead-inverse">
    <tr>
      <th>#</th>
      <th>{% trans "Name" %}</th>
      <th>{% trans "Coolness" %}</th>
      <th>{% trans "Description" %}</th>
      <th>{% trans "Actions" %}</th>
    </tr>
  </thead>
  <tbody>
    {% for thing in things %}
    <tr>
      <th scope="row">{{ forloop.counter }}</th>
      <td>{{ thing.name }}</td>
      <td>{{ thing.coolness }}</td>
      <td>{{ thing.description }}</td>
      <td>
          <a href="{% url 'thing:thing_detail' thing.pk %}"
              class="btn btn-secondary btn-md active">Detail</a>
          <a href="{% url 'thing:thing_update' thing.pk %}"
              class="btn btn-secondary btn-mg active">Update</a>
          <a href="{% url 'thing:thing_delete' thing.pk %}"
              class="btn btn-secondary btn-mg btn-danger">Delete</a>
      </td>
    </tr>
    {% empty %}
    <tr>
      <th scope="row" colspan="3">{% trans "There are no things!" %}</th>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock content %}
